<nav>
    <h1>SWASTIK MEDICO</h1>
    <ul>
        <li><button><a href="/">home</a></button></li>
        <li><button><a href="/add">add medicine</a></button></li>
        <li><button><a href="/stoke">our stock</a></button></li>
        <!-- <li><button><a href="/signin">signin</a></button></li> -->
        
    </ul>
</nav>
<hr>